body{
    margin: 0px;
    background-color: black;
}
.head{
    width: 100vw;
    height: 15vh;
    border-bottom-color: white;
    color: white;
    border-bottom-style: solid;
    justify-content: center;
    align-items: center;
    display: flex;
}
.h1{
    width: 33vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.h2{
    width: 34vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.h3{
    width: 33vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.main{
    width: 100vw;
    height: 70vh;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.buy_menu{
    width: 80vw;
    height:60vh;
    border-style: solid;
    border-color: white;
    color: white;
    display: flex;
}
.Money{
    width: 40vw;
    height: 60vh;
    border-color: white;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    place-items: center;
}
.Cars{
    width: 40vw;
    height: 60vh;
    border-color: white;
    color: white;
    border-left-style: solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    place-items: center;
}
.footer{
    width: 100vw;
    height: 15vh;
    border-color: white;
    color: white;
    border-top-style:solid ;
    display: flex;
}
.Cars h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.Money h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.card{
    width: auto;
    height:auto ;
    border-color: white;
    color: white;
    border-style: solid;
    border-radius: 15px;
    background-color: black;
    
}
.card button{
    width: auto;
    height: auto;
}
